.trip-header {
  font-weight: 600;
  padding: 20px;
  &__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  &__action {
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .trip-header {
    padding: 10px;
    &__title {
      font-size: 25px;
    }
  }
}
